.hero-text {
  background-color: rgba(33, 37, 41, 0.95);
  z-index: 1;
  left: 0;
}

div.row.hero {
  background: url("../img/hagen-dock.png") no-repeat center center;
  background-position: top;
  background-size: cover;
}

.hero-text a {
  color: var(--company-orange) !important;
}

div.hero-text h1,
div.hero-text h5,
div.hero-text p {
  color: white;
}

div.hero-text h1 {
  font-style: italic;
}

.hero-text .btn-cta {
  background-color: var(--company-orange) !important;
  border: 2px solid var(--company-orange) !important;
  color: white !important;
  font-weight: bold !important;
}

.btn-cta:hover {
  background-color: var(--company-orange);
}