:root {
  --company-orange: #fe9e24;
  --company-orange-light: #ffba6f;
}

* {
  font-family: "Montserrat", sans-serif;
}

a.btn-primary {
  background-color: var(--company-orange) !important;
  border: 2px solid var(--company-orange) !important;
  font-weight: bold !important;
  color: white !important;
}

a.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: var(--company-orange) !important;
  color: var(--company-orange) !important;
}

a.btn-primary:active {
  background-color: var(--company-orange-light) !important;
  border-color: var(--company-orange-light) !important;
  color: white !important;
  transform: translateY(1px);
  filter: saturate(150%);
}

button.btn-primary {
  background-color: var(--company-orange) !important;
  border: 2px solid var(--company-orange) !important;
  font-weight: bold !important;
  color: white !important;
}

button.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: var(--company-orange) !important;
  color: var(--company-orange) !important;
}

button.btn-primary:active {
  background-color: var(--company-orange-light) !important;
  border-color: var(--company-orange-light) !important;
  color: white !important;
  transform: translateY(1px);
  filter: saturate(150%);
}

.App {
  text-align: center;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
